@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #473939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #302727;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--text-5xl);
}

h2 {
  font-size: var(--text-3xl);
  line-height: var(--text-lg--line-height);
}

h3 {
  font-size: var(--text-xl);
  line-height: var(--text-base--line-height);
}

h4 {
  font-size: var(--text-base);
  text-overflow: ellipsis;
}

@theme {
  --color-sky-blue-100: #2f59a3;
  --color-sky-green-500: #2c471b;
  --color-sky-green-100: #426b28;
}
